section.list-suggested 
  .container 
    .row 
      .col-12.col-lg-4.col-xl-4
        .list-suggested__title 
          h3 Special
        .list-suggested__item 
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/glasses-vintage.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye 
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Glasses
            span.list-suggested__item__wrap__price $79.00 - $100.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet
        .list-suggested__item 
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/sbhasr-bag.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Luxury leather bag 
            span.list-suggested__item__wrap__price $99.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet
      .col-12.col-lg-4.col-xl-4
        .list-suggested__title 
          h3 Top view
        .list-suggested__item 
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/vening-shoulder-bag.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Vintage shoulder bag
            span.list-suggested__item__wrap__price $99.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet
        .list-suggested__item 
          span.list-suggested__item__sale Sale!
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/lambskin-shoe.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Vintage lamb skin shoe
            span.list-suggested__item__wrap__price 
              del $299.00
              ins $199.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet
      .col-12.col-lg-4.col-xl-4
        .list-suggested__title 
          h3 Top products
        .list-suggested__item 
          span.list-suggested__item__sale Sale!
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/lambskin-shoe.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Vintage lamb skin shoe
            span.list-suggested__item__wrap__price 
              del $299.00
              ins $199.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet
        .list-suggested__item 
          picture.list-suggested__item__image  
            img(src="../../src/assets/images/sbhasr-bag.jpg", alt="")
            a.btn-view(href="")
              i.far.fa-eye
          .list-suggested__item__wrap 
            h4.list-suggested__item__wrap__name Luxury leather bag 
            span.list-suggested__item__wrap__price $99.00
            .list-suggested__item__wrap__rate 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            ul.list-suggested__item__wrap__list-btn 
              li 
                a(href="") 
                  i.fas.fa-shopping-cart 
              li 
                a(href="") 
                  i.fas.fa-heart
              li 
                a(href="") 
                  i.fas.fa-retweet