section.blog 
  h2.title.title--underline Lastest from blogs
  .container 
    .row
      .blog__slide.w-100.carousel-multiple.carousel.slide#slideBlog(data-ride="carousel")
        .carousel-inner 
          .item.carousel-item.active
            .col-12.col-md-6.col-lg-4.col-xl-4
              .blog__slide__date DEC/11
              picture.blog__slide__img 
                img(src="../../src/assets/images/sensual-woman.jpg", alt="")
              .blog__slide__text
                h4.blog__slide__text__title
                  a(href="") That most modern
                span.blog__slide__text__desc The summer holidays are wonderful. Dressing for them can be significantly less so: Packing{...} 
          .item.carousel-item
            .col-12.col-md-6.col-lg-4.col-xl-4
              .blog__slide__date NOV/28
              picture.blog__slide__img 
                img(src="../../src/assets/images/hot-woman.jpg", alt="")
              .blog__slide__text 
                h4.blog__slide__text__title
                  a(href="") Glance Into the Future of Androids
                span.blog__slide__text__desc Aenean id tellus justo elit, sit amet sodales purus vulputate non. Nullam lorem eros,{...} 
          .item.carousel-item
            .col-12.col-md-6.col-lg-4.col-xl-4
              .blog__slide__date NOV/28
              picture.blog__slide__img 
                img(src="../../src/assets/images/55H.jpg", alt="")
              .blog__slide__text 
                h4.blog__slide__text__title
                  a(href="") Nullam at tellus vehicula
                span.blog__slide__text__desc Maecenas vestibulum interdum nisi, a varius felis eleifend ac. Aenean enim mi, iaculis sit{...} 
          .item.carousel-item
            .col-12.col-md-6.col-lg-4.col-xl-4
              .blog__slide__date NOV/26
              picture.blog__slide__img 
                img(src="../../src/assets/images/fashion-macbook.jpg", alt="")
              .blog__slide__text 
                h4.blog__slide__text__title
                  a(href="") Summer Classics in Positano
                span.blog__slide__text__desc The summer holidays are wonderful. Dressing for them can be significantly less so: Packing{...} 
          .item.carousel-item
            .col-12.col-md-6.col-lg-4.col-xl-4
              .blog__slide__date NOV/16
              picture.blog__slide__img 
                img(src="../../src/assets/images/93H.jpg", alt="")
              .blog__slide__text 
                h4.blog__slide__text__title
                  a(href="") Photography Tips From Wai Su
                span.blog__slide__text__desc Aenean id tellus justo elit, sit amet sodales purus vulputate non. Nullam lorem eros,{...} 
        a.control.control--left.carousel-control-prev(href="#slideBlog", role="button", data-slide="prev")
          i.fas.fa-chevron-left
        a.control.control--right.carousel-control-next(href="#slideBlog", role="button", data-slide="next")
          i.fas.fa-chevron-right  