section.product 
  .container 
    h2.title.title--underline Feature products
    .row
      .product__slide.carousel-multiple.carousel.slide#slideProduct(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.item--center.carousel-item.active 
            .col-xl-3.col-lg-4.col-md-6.col-12
              picture.product__slide__image 
                img.img-fluid(src="../../src/assets/images/glasses-vintage.jpg", alt="")
                a.btn-view(href="")
                  i.far.fa-eye 
              h4.product__slide__name
                a(href="")  Glasses
              span.product__slide__price $79.00 - $100.00
              span.product__slide__rate 
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              a.product__slide__btn.product__slide__btn--left(href="")
                i.fas.fa-heart  
              a.product__slide__btn(href="") Select options
              a.product__slide__btn.product__slide__btn--right(href="")
                i.fas.fa-retweet 
          .item.item--center.carousel-item  
            .col-xl-3.col-lg-4.col-md-6.col-12
              picture.product__slide__image 
                img.img-fluid(src="../../src/assets/images/sbhasr-bag.jpg", alt="")
                a.btn-view(href="")
                  i.far.fa-eye 
              h4.product__slide__name
                a(href="")  Luxury leather bag
              span.product__slide__price $99.00
              span.product__slide__rate 
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              a.product__slide__btn.product__slide__btn--left(href="")
                i.fas.fa-heart  
              a.product__slide__btn(href="") Add to cart
              a.product__slide__btn.product__slide__btn--right(href="")
                i.fas.fa-retweet 
          .item.item--center.carousel-item  
            .col-xl-3.col-lg-4.col-md-6.col-12
              .product__slide__sale Sale!
              picture.product__slide__image 
                img.img-fluid(src="../../src/assets/images/leather-bag.jpg", alt="")
                a.btn-view(href="")
                  i.far.fa-eye 
              h4.product__slide__name
                a(href="")  Leather bag
              span.product__slide__price 
                del $180.00
                ins $170.00
              span.product__slide__rate 
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              a.product__slide__btn.product__slide__btn--left(href="")
                i.fas.fa-heart  
              a.product__slide__btn(href="") Add to cart
              a.product__slide__btn.product__slide__btn--right(href="")
                i.fas.fa-retweet 
          .item.item--center.carousel-item  
            .col-xl-3.col-lg-4.col-md-6.col-12
              .product__slide__sale Sale!
              picture.product__slide__image 
                img.img-fluid(src="../../src/assets/images/lambskin-shoe.jpg", alt="")
                a.btn-view(href="")
                  i.far.fa-eye 
              h4.product__slide__name
                a(href="")  Vintage lambskin shoe
              span.product__slide__price 
                del $299.00
                ins $199.00
              span.product__slide__rate 
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              a.product__slide__btn.product__slide__btn--left(href="")
                i.fas.fa-heart  
              a.product__slide__btn(href="") Add to cart
              a.product__slide__btn.product__slide__btn--right(href="")
                i.fas.fa-retweet 
        a.control.control--left.carousel-control-prev(href="#slideProduct", role="button", data-slide="prev")
          i.fas.fa-chevron-left 
        a.control.control--right.carousel-control-next(href="#slideProduct", role="button", data-slide="next")
          i.fas.fa-chevron-right 