section.client
  .container 
    .client__bg-opacity
    h2.title.title--white.title--underline.title--underline--white What's client say?
    .client__slide.carousel.slide#slideClient(data-ride="carousel") 
      ol.client__slide__dots.carousel-indicators 
        li.active(data-target="#slideClient", data-slide-to="0")
        li(data-target="#slideClient", data-slide-to="1")
        li(data-target="#slideClient", data-slide-to="2")
        li(data-target="#slideClient", data-slide-to="3") 
      .carousel-inner 
        .carousel-item.active 
          .client__slide__text “This theme is totally customizable, clean with all the options you could want. Don’t want full screen layout? With one word added to the code the entire site becomes a boxed version…. The customer support is absolutely unsurpassed. Every question is answered with more help than anyone could expect for the price. Can not recommend […]
          .client__slide__author 
            img.client__slide__author__avatar(src="../../src/assets/images/item-11.png", alt="")
            .client__slide__author__desc 
              a(href="")  JACKSON LEE 
              span CEO & Founder - Olker
        .carousel-item 
          .client__slide__text “Noraure WooCommerce WordPress theme is especially designed for shops and eCommerce sites. This is a truly versatile WooCommerce WordPress theme. Noraure is the right theme for you if you are looking for multipurpose eCommerce theme that can handle everything you throw at it. It comes with an eye-catching layout design that will instantly draw the […]
          .client__slide__author 
            img.client__slide__author__avatar(src="../../src/assets/images/elizabett.jpg", alt="")
            .client__slide__author__desc 
              a(href="")  ELIZABETH SMITH 
              span Agency - Olker
        .carousel-item 
          .client__slide__text “Noraure theme is very easy to install and highly customizable. It includes fluid design and cool features that enables you to create an outstanding website. The theme comes bundled with premium plugins like Slider Revolution and Visual Composer that allows you to display your products in your website with ease. The Visual Composer is a […]
          .client__slide__author 
            img.client__slide__author__avatar(src="../../src/assets/images/user1.png", alt="")
            .client__slide__author__desc 
              a(href="")  JOHN DOE
              span Technical Support - Olker
        .carousel-item 
          .client__slide__text “The Visual Composer is a very responsive drag and drop functionality that lets you arrange and manage the placement of each element within your theme, while the Revolution Slider assists you in adding fantastic slides with wonderful animations in your website. It helps you easily customize your website and create a design for your website […]
          .client__slide__author 
            img.client__slide__author__avatar(src="../../src/assets/images/user2.jpg", alt="")
            .client__slide__author__desc 
              a(href="")  DIANA JOHN
              span CEO & Founder - Olker