section.newest 
  .container 
    .row 
      .col-12.col-lg-8.col-xl-8 
        .newest__item 
          picture.newest__item__image 
            img(src="../../src/assets/images/img-1.jpg", alt="")
          .newest__item__text 
            span.newest__item__text__sub-title New design 
            h3.newest__item__text__title Send her your love 
            a.newest__item__text__btn(href="") Get it now 
        .newest__item.newest__item--image-right 
          picture.newest__item__image 
            img(src="../../src/assets/images/img-2.jpg", alt="")
          .newest__item__text 
            span.newest__item__text__sub-title The biggest 
            h3.newest__item__text__title Winter collection 
            a.newest__item__text__btn(href="") Go to shop 
      .col-12.col-lg-4.col-xl-4 
        .newest__item.newest__item--image-full
          picture.newest__item__image
            img(src="../../src/assets/images/img-3.jpg", alt="")
          .newest__item__text
            span.newest__item__text__sub-title Men's fashion 
            h3.newest__item__text__title Mid season sale  
            a.newest__item__text__btn(href="") View collection 