section.banner-slide.carousel.slide#slideBanner(data-ride="carousel")
  .carousel-inner 
    .banner-slide__item.carousel-item.active
      img.d-block.w-100(src="../../src/assets/images/bg_slider1.jpg", alt="First slide")
    .banner-slide__item.carousel-item
      img.d-block.w-100(src="../../src/assets/images/men_noraure.jpg", alt="Second slide")
  a.banner-slide__control.banner-slide__control--prev.carousel-control.carousel-control-prev(href="#slideBanner", role="button", data-slide="prev")
    i.fas.fa-chevron-left 
  a.banner-slide__control.banner-slide__control--next.carousel-control.carousel-control-next(href="#slideBanner", role="button", data-slide="next")
    i.fas.fa-chevron-right 