section.partner 
  .container 
    .partner__list 
      picture.partner__list__item 
        img(src="../../src/assets/images/logo-04.png", alt="") 
      picture.partner__list__item 
        img(src="../../src/assets/images/logo-01.png", alt="") 
      picture.partner__list__item 
        img(src="../../src/assets/images/logo-02.png", alt="") 
      picture.partner__list__item 
        img(src="../../src/assets/images/logo-03.png", alt="") 
      picture.partner__list__item 
        img(src="../../src/assets/images/logo-05.png", alt="") 