.header 
  .header-top
    .container 
      .row 
        .col-12.col-sm-12.col-md-6.col-lg-6
          .header-top__title.text-middle Welcome to Noraure Store
        .col-12.col-sm-12.col-md-6.col-lg-6 
          .header-top__menu.text-middle
            ul.side-bar.side-bar--border-li  
              li 
                a(href="") My account 
              li 
                a(href="") Wishlist 
              li 
                a(href="") Check out
              li 
                a(href="") Login 
  .header-bottom
    .container 
      .row 
        .col-6.col-sm-6.col-md-2.col-lg-2
          .header-bottom__logo  
            a(href="./index.html") 
              img(src="../../src/assets/images/logo-black.png", alt="")
        .col-6.col-sm-6.col-md-10.col-lg-10 
          .header-bottom__menu
            .header-bottom__menu__list 
              nav
                li.header-bottom__menu__list__item
                  a(href="", data-toggle="dropdown") Home 
                  ul.dropdown-menu 
                    li.dropdown-menu__item.item 
                      a(href="") Homepage 02
                    li.dropdown-menu__item.item 
                      a(href="") Homepage 03
                    li.dropdown-menu__item.item 
                      a(href="") Homepage 04
                    li.dropdown-menu__item.item 
                      a(href="") Homepage 05
                    li.dropdown-menu__item.item 
                      a(href="") Homepage 06
                li.header-bottom__menu__list__item.header-bottom__menu__list__item--mega-full-width
                  a(href="", data-toggle="dropdown") Women
                  ul.dropdown-menu 
                    .row
                      .col-12.col-lg-2.col-xl-2
                        li.dropdown-menu__item.title
                          a(href="", data-toggle="dropdown") Clothings
                          ul.mini-menu 
                            li.mini-menu__item 
                              a(href="") Dresses
                            li.mini-menu__item
                              a(href="") Tops
                            li.mini-menu__item
                              a(href="") Outerwear 
                      .col-12.col-lg-2.col-xl-2 
                        li.dropdown-menu__item.title
                          a(href="", data-toggle="dropdown") Jewelry
                          ul.mini-menu 
                            li.mini-menu__item 
                              a(href="") Necklaces
                            li.mini-menu__item
                              a(href="") Earrings
                            li.mini-menu__item
                              a(href="") Rings 
                      .col-12.col-lg-2.col-xl-2
                        li.dropdown-menu__item.title
                          a(href="", data-toggle="dropdown") Shoes
                          ul.mini-menu 
                            li.mini-menu__item 
                              a(href="") Sneakers
                            li.mini-menu__item
                              a(href="") Flats 
                            li.mini-menu__item
                              a(href="") Boots 
                      .col-12.col-lg-6.col-xl-6
                        .dropdown-menu__image
                          img(src="../../src/assets/images/bg_menu1.jpg", alt="")
                li.header-bottom__menu__list__item 
                  a(href="") Men
                li.header-bottom__menu__list__item 
                  a(href="") Jewelry 
                li.header-bottom__menu__list__item 
                  a(href="") Watches
                li.header-bottom__menu__list__item 
                  a(href="") Accessories 
                li.header-bottom__menu__list__item 
                  a(href="") Blog 
                li.header-bottom__menu__list__item 
                  a(href="") Contact
            .header-bottom__menu__sidebar
              .header-bottom__menu__sidebar__item.search
                i.fas.fa-search
                .search-form 
                  form(action="", method="get") 
                    input(type="text", placeholder="Search")
                    input(type="submit", value="Search") 
              .header-bottom__menu__sidebar__item.shopping
                i.fas.fa-shopping-cart
            .header-bottom__menu__mobile 
              i.fas.fa-bars 