.footer 
  .footer-top
    .container 
      .row 
        .col-12.col-md-4.col-lg-4.col-xl-3 
          .footer-top__item.footer-top__item--1 
            h3.title.title--white Contact us 
            div 
              ul 
                li 
                  a(href="") 
                    i.fas.fa-map-marker-alt 
                    span NORAURE London Oxford Street 012 United Kingdom.
                li 
                  a(href="")
                    i.fas.fa-envelope 
                    span emailnoraure@gmail.com emailsupport@gmail.com
                li 
                  a(href="") 
                    i.fas.fa-phone-alt 
                    span (+92) 3456 7890
                    br
                    span (+92) 1234 5678 
        .col-12.col-md-4.col-lg-4.col-xl-2 
          .footer-top__item.footer-top__item--2
            h3.title.title--white Information
            ul 
              li 
                a(href="") My account
              li 
                a(href="") Order history
              li 
                a(href="") Wish List
              li 
                a(href="") Returns
              li 
                a(href="") Privacy Policy
              li 
                a(href="") Site Map
        .col-12.col-md-4.col-lg-4.col-xl-2 
          .footer-top__item.footer-top__item--3 
            h3.title.title--white Our Offers
            ul 
              li 
                a(href="") New collection
              li 
                a(href="") Best sellers
              li 
                a(href="") Manufacturers
              li 
                a(href="") New products
              li 
                a(href="") Suppliers
              li 
                a(href="") Delivery & returns
        .col-12.col-md-4.col-lg-4.col-xl-2 
          .footer-top__item.footer-top__item--4 
            h3.title.title--white Our Policy
            ul 
              li 
                a(href="") Help & Contact
              li 
                a(href="") Shipping & taxes
              li 
                a(href="") Returns policy
              li 
                a(href="") Careens
              li 
                a(href="") Affiliates
              li 
                a(href="") Legal Notice
        .col-12.col-md-8.col-lg-8.col-xl-3 
          .footer-top__item.footer-top__item--5
            h3.title.title--white Get newletters
            .footer-top__item__form  
              input(type="text", placeholder="Type your email here")
              input(type="submit", value="SUBCRIBE")
            .footer-top__item__cross-bar 
              h3.title.title--white Connect us 
              ul.side-bar 
                li 
                  a(href="")
                    i.fab.fa-facebook-f
                li 
                  a(href="")
                    i.fab.fa-twitter
                li 
                  a(href="")
                    i.fab.fa-linkedin-in
                li 
                  a(href="")
                    i.fas.fa-rss
                li 
                  a(href="")
                    i.fab.fa-dribbble
  .footer-bottom
    .container 
      .row
        .col-12.col-md-6.col-lg-6.col-xl-6
          .footer-bottom__item.footer-bottom__item--left.text-middle
            span Copyright @ 2021
            a(href="") Noraure
            span . All rights reserved.
        .col-12.col-md-6.col-lg-6.col-xl-6
          .footer-bottom__item.footer-bottom__item--right.text-middle
              ul.side-bar 
                li 
                  a(href="")
                    img(src="../../src/assets/images/payment-1.jpg", alt="")
                li 
                  a(href="")
                    img(src="../../src/assets/images/payment-2.jpg", alt="")
                li 
                  a(href="")
                    img(src="../../src/assets/images/payment-3.jpg", alt="")
                li 
                  a(href="") 
                    img(src="../../src/assets/images/payment-4.jpg", alt="")