$color-black: #000;
$color-white: #fff;
$color-white-gray: #f0f0f0;
$color-gray11: #212121;
$color-gray21: #353535;
$color-gray31: #5d5d5d;
$color-dark-gray: #333;
$color-gray: #747474;
$color-gray-white: #c5c5c5;
$color-light-gray: #f4f4f4;
$color-orange: #ce9204;