extends ../../layout/layout

block container 
  include ../../components/slide-banner/slide-banner
  include ../../components/newest/newest
  include ../../components/products/products
  include ../../components/client/client
  include ../../components/list-tabs/list-tabs
  include ../../components/blogs/blog
  include ../../components/list-suggested/list-suggested 
  include ../../components/partner/partner