html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noraure - WooCommerce Responsive WordPress Theme Preview - ThemeForest
    link(rel="stylesheet", href="../../src/assets/styles/fonts/fontawesome/css/all.min.css")
    link(rel="shortcut icon", href="../../src/assets/images/favicon.jpg")
    link(rel="stylesheet", href="../css/base.css")
  body 
    block header 
      include ../components/header/header
    block container 
    block button-to-top 
      include ../components/button-to-top/button-to-top
    block footer 
      include ../components/footer/footer
    script(src="../../src/assets/js/jquery/jquery.min.js") 
    script(src="../../src/assets/styles/node_modules/bootstrap/dist/js/bootstrap.js")
    script(src="../../src/assets/js/main.js") 